/* styles/App.module.css */

.layout {
  min-height: 100vh;
  max-width: 100vw;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #28282d;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #F06543, #1C7C54);
  border-image-slice: 1;
}

.content {
  background-color: #2B2B31;
  padding-bottom: 24px;
}

.footer {
  background-color: #28282d;
}
