@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: "sticky";
  top: 0;
  z-index: 5;
  width: "100%";
  display: "flex";
  align-items: "center";
  background-color: "#28282d";
  border-bottom: "2px solid transparent";
  border-image: "linear-gradient(to right, #F06543, #1C7C54)";
  border-image-slice: 1;
}
