@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #28282D;
  --secondary: #77867F;
  --tertiary: #2B2B31;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-color: var(--secondary) var(--primary);
  scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-image: var(--secondary);
}

