/* Home.module.css */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 99vw;
  overflow: hidden;
  margin-bottom: 48px;
}

.carouselImageWrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(80%);
}

.heroSection {
  margin-bottom: 48px;
  text-align: center;
  padding-inline: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroContent {
  width: min(90%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
