.container {
  width: 100%;
  position: relative;
  background: #2B2B31;
  margin:10px 0px 40px 0;
}

.title {
  padding-bottom: 16px;
  text-align: center;
  color: #ffffff;
}

.wrapper {
  position: relative;
}

.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  display: block;
  width: 100%;
  background: #2B2B31;
}


.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row {
  flex-wrap: nowrap !important;
}

.col {
  width: 250px !important;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background: #1f1f23;
  color: #fff;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fadeLeft,
.fadeRight {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.fadeLeft {
  left: 0;
  background: linear-gradient(
    to right,
    #2B2B31 0%,
    rgba(43, 43, 49, 0) 100%
  );
}

.fadeRight {
  right: 0;
  background: linear-gradient(
    to left,
    #2B2B31 0%,
    rgba(43, 43, 49, 0) 100%
  );
}
