.card {
  border-radius: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
}

.flex {
  height: 20vh;
}

.title {
  color: #EFF1ED;
  margin: 0;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
